.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  margin: 20px;
  pointer-events: none;
}

.App-Content {
  display: flex;
  align-items: stretch;
  height: -webkit-fill-available;
}

.App-header {
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto-regular);
  font-size: 12px;
  color: white;
  border-bottom: 2px var(--gray) solid;
}

.App-header-options {
  color: var(--black);

}

span {
  margin: 20px;
}

.App-Footer {
  height: 80px;
}

.App-link {
  color: #61dafb;
}