.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  margin: 20px;
  pointer-events: none;
}

.App-Content {
  display: flex;
  align-items: stretch;
  height: -webkit-fill-available;
}

.App-header {
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto-regular);
  font-size: 18px;
  color: white;
  border-bottom: 2px var(--gray) solid;
}

.App-header-options {
  color: var(--black);

}

.App-Footer {
  position: absolute;
  background-color: white;
  height: 80px;
  font-size: 18px;
  color: var(--black);
  bottom: 0;
  left: 0;
  right: 0;
}

span {
  margin: 18px;
}

.App-link {
  color: var(--orange);
  text-decoration: none;
}
.App-link:hover {
  color: var(--dark-orange);
  text-decoration: underline;
}

button {
  cursor: pointer;
  background-color: var(--orange);
  width: 128px;
  height: 32px;
  border: var(--orange);
  border-radius: 3px;
  margin:18px;
  color: white;
}

h3 {
  font-size: 18px;
}