.Car-Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border: 1px var(--gray) solid;
    margin: 12px;
}

.Car-Image{
    min-width: 80px;
    min-height: 80px;
    margin: 12px;
}
.Car-Image::before{
    content: ' ';
    display: block;
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: var(--gray); 
}

.Car-Details {
    display: flex;
    flex-direction: column;
}

.Car-Details h3{
    margin: 12px;
}

.Car-Info {
    margin: 10px;
}

