#Filters {
    flex-grow: 1;
}

.Filter-Content {
    margin: 24px;
    border: 1px var(--gray) solid;
    padding: 12px;
}

.Available-Cars {
    display: flex;
    justify-content: space-around;
}

.Showing-Cars {
    display: flex;
    flex-direction: column;
}

.Sort-Cars {
    align-self: center;
}