body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  
  --gray: #ededed;
  --black: #4a4a44;
  --orange: #ea7f28;
  --dark-orange: #d37324;

  --font-title: "Roboto Bold";
  --font-regular: "Roboto Regular";
}
